rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // 2. Helpers
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(email) {
      return isSignedIn() && request.auth.token.email.lower() == email.lower();
    }

    function isValidUser(data) {
      return data.name is string && data.name.size() > 0 && data.name.size() <= 100
        && data.email is string && data.email.size() > 0 && data.email.size() <= 150
        && data.balance is number;
    }

    // 3. Colletion rules
    match /users/{email} {
      allow read, write: if isSignedIn();
    }

    match /settings/{id} {
      allow read, write: if isSignedIn();
    }

    match /withdrawals/{id} {
      allow read, write: if isSignedIn();
    }
  }
}
